/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
header{
	background-color:#011e29;
}

.latest-news-section{
	background-color:white;
	border-radius:25px;
	align-items:center;
	align-content:center;
	vertical-align:middle;
	
}
.main-article{
	
}
.pictorial-news-section{
	
}